* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.course {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  color: black;
  text-decoration: none;
  background-color: aliceblue;
  &__video {
    width: 320px;
    height: 240px;
    margin-right: 10px;
  }
  &__video::-webkit-media-controls-poster {
    width: 100%;
  }
}

.lesson-info {
  color: darkgrey;
  font-style: italic;
}

.rating-icon {
  color: gold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  &__item {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 6px 10px 6px 10px;
    color: beige;
    background-color: blue;
  }
}
